body {
    font-family: Arial, sans-serif;
    background-color: #fef6f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff99cc;
    padding: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 50px;
}

footer {
    background-color: #ff99cc;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}
